body {
    font-family: sans-serif;
}

.link-header{
    text-decoration: none;
}

.link-nav {
    text-decoration: none;
}
h1{
    font-size: 70px;
    text-align: center;
}

p{
    font-size: 10px;
}
